<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>FiliereWeb</display-name>
    <servlet-name>FiliereWeb</servlet-name>
    <servlet-class>servlet.FiliereWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FiliereWeb</servlet-name>
    <url-pattern>/FiliereWeb</url-pattern>
  </servlet-mapping>
  <display-name>studentManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentWeb</display-name>
    <servlet-name>StudentWeb</servlet-name>
    <servlet-class>servlet.StudentWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentWeb</servlet-name>
    <url-pattern>/StudentWeb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleWeb</display-name>
    <servlet-name>RoleWeb</servlet-name>
    <servlet-class>servlet.RoleWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleWeb</servlet-name>
    <url-pattern>/RoleWeb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentFiliereWeb</display-name>
    <servlet-name>StudentFiliereWeb</servlet-name>
    <servlet-class>servlet.StudentFiliereWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentFiliereWeb</servlet-name>
    <url-pattern>/StudentFiliereWeb</url-pattern>
  </servlet-mapping>
</web-app>